
/********COLORS********/
/********COLORS********/
e3f2fdff;
bbdefbff;
90caf9ff;
64b5f6ff;
42a5f5ff;
2196f3ff;
1e88e5ff;
1976d2ff;
1565c0ff;
0d47a1ff;    
/********COLORS********/
/********COLORS********/
 
  body, p, div {
  font-family: "Quicksand", sans-serif;  
 }
 
  h1,h2,h3,h4,h5 
  .header-logo a,
  .nav-link {
    font: "Lilita One", sans-serif;
    color: #0d47a1ff ;
 
   
 
  }